#cont{

background-color:#d5d2ae;
height: 1200px;

width: 810px;
padding-left: 15x;
padding-top: 30px;


}
.u{
margin-left: 90px;
    display: inline
    



}
.d{

    height: 75px;

   width: 120px;
}



h1{

font-size: 36px;
display: inline;

}
#q{
    margin-top: 50px;
    
    margin: 20px;
}
.b{

width: 150px;
height: 150px;


}
